<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fatihkayranci.ytuakilliev">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/akilli_ev_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".acilis">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TV" />
        <activity android:name=".Klima" />
        <activity android:name=".Priz1" />
        <activity android:name=".Priz2" />
        <activity android:name=".Priz3" />
        <activity android:name=".Guncellestirme" />
        <activity android:name=".Hakkimizda" />
        <activity android:name=".Bilgi" />
        <activity android:name=".Bilgi2" />
        <activity android:name=".GirisActivity">

        </activity>

<!--        <supports-screens
        android:largeScreens="false"
        android:normalScreens="false"

        android:smallScreens="true"
        android:xlargeScreens="false" />-->

    </application>


</manifest>